:root{
    --blue-color:rgb(5, 108, 82);
}

.complaint-top{
    background: white;
    height: 80px;
    border: 1px double white;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
    color: var(--blue-color);

}
.logout-button{
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    outline: 2px double red;
    background-color: white;
    color: var(--blue-color);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container{
    display: flex;
    gap: 10px;
}
.logout-button:hover{
    color: white;
    background-color: red;
    text-shadow: 0px 0px 5px gray;
    box-shadow: 0px 0px 10px gray;
}
.home-button{
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    outline: 2px double green;
    background-color: white;
    color: var(--blue-color);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-button:hover{
    color: white;
    background-color: green;
    text-shadow: 0px 0px 5px gray;
    box-shadow: 0px 0px 10px gray;
}
.complaint-form{
    margin: 5px;
    border: 3px double var(--blue-color);
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.complaint-form>form{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-width: 1024px;
}
.complaint-personal-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.complaint-personal-details>input{
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    color: gray;
    font-weight: 600;
}
.complaint-address-details{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 17px;
}
.complaint-address-details>select{
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    color: gray;
    font-weight: 600;
    min-width: 330px;
}
.complaint-address-details>input{
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    color: gray;
    font-weight: 600;
    min-width: 290px;
}
.complaint-form>form>h3{
    color: gray;
    font-weight: 900;
    margin: 15px 0px 10px 0px;
}
.complaint-form>form>h3>span{
    color: red;
    font-weight: 900;
}
.complaint-form>form>input{
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    color: gray;
    font-weight: 600;
    margin-top: 15px;
}
.complaint-form>form>select{
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    color: gray;
    font-weight: 600;
    margin-top: 15px;
}
.complaint-form>form>textarea{
    min-height: 150px;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    color: gray;
    font-weight: 600;
    margin-top: 15px;
}
.complaint-image-container{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px gray;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
}
.complaint-image-container>div>input{
    flex: 1;
    color: red;
    font-weight: 900;
}
.complaint-image-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.complaint-image-container>div>img{
    flex: 1;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}
.submit-button-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.submit-button-center>button{
    color: var(--blue-color);
    font-weight: 900;
    padding: 10px 18px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    background-color: white;
    min-width: 200px;
}
.submit-button-center>button:hover{
    background-color: var(--blue-color);
    color: white;
}
@media screen and (max-width:1080px) {
    .complaint-form>form{
        min-width: auto;
    }
}
@media screen and (max-width:740px) {
    .complaint-image-container{
        flex-direction: column;
        gap: 20px;
    }
    .complaint-address-details>select{
        width: 100% !important;
    }
}
@media screen and (max-width:420px) {
    .complaint-image-container>div>img{
        width: 300px;
    }
}

/* Track Complaint Page  */

.track-form-container>form{
    border: 3px double var(--blue-color);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
    gap: 20px;   
    color: gray;
    font-weight: 900;
}
.track-form-container{
    width: 100%;
}
.track-form-container>form>h3,p{
    text-align: center;
    color: var(--blue-color);
}
.search-input-container>input{
    padding: 15px;
    border: none;
    outline: 2px double var(--blue-color);
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    font-weight: 400;
    color: blue;
    font-size: 15px;
    min-width: 400px;
}
.trackComplaint{
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}
.complaint-view{
    min-height: 60vh;
    display: flex;
}
.tracking-left-container{
    flex: 1;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.tracking-left-container>img{
    height: 250px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
.tracking-right-container{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.search-input-container{
    display: flex;
    position: relative;
}
.search-input-container>button{
    position: absolute;
    right: 3px;
    top: 1.6px;
    padding: 8px;
    width: 60px;
    background-color: var(--blue-color);
    color: white;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    outline: none;
}
.tracking-right-container>input,textarea{
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px;
    outline: none;
    margin-top: 10px;
    color: gray;
    font-size: 15px;
}
.tracking-right-container>textarea{
    min-height: 200px;
}
.tracking-right-container>div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.tracking-right-container>div>input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px;
    outline: none;
    margin-top: 15px;
    color: gray;
    font-size: 15px;
    min-width: 300px;
}
.tracking-right-container>label{
    margin-top: 15px;
}
.status-inputs>input{
    background-color: rgb(244, 154, 154);
    color: var(--blue-color);
    font-weight: 900;
    text-align: center;
}
.status-action-button{
    display: flex;
    margin: 20px;
}
.status-action-button>button{
    border-radius: 5px;
    font-weight: 900;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-button{
    color: green;
    background-color: white;
    border: 2px solid green;
    opacity: 0.5;
}
.delete-button{
    color: red;
    background-color: white;
    border: 2px solid red;
    opacity: 0.5;
}
.edit-button:hover{
    background-color: green;
    color: white;
    opacity: 1;
}
.delete-button:hover{
    background-color: red;
    color: white;
    opacity: 1;
}
@media screen and (max-width:715px) {
    .complaint-view{
        flex-direction: column;
        margin-top: 20px;
    }
    .tracking-right-container>div>input{
        width: 90%;
    }
}
@media screen and (max-width:480px) {
    .search-input-container>input{
        min-width: 250px;
    }
}

/* Your Complaint Page  */
.your-complaints{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.your-complaint-card{
    display: flex;
    min-height: 300px;
    width: 1024px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}
@media screen and (max-width:1035px) {
    .your-complaint-card{
        flex-direction: column;
        width: 100%;
        box-shadow: none;
    }
}
@media screen and (max-width:730px) {
    .comlaint-sub-container{
        font-size: small;
    }
}
.complaiint-card-left{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.complaiint-card-left>img{
   max-height: 300px;
   border-radius: 10px 0px 0px 10px;
    width: 340px;
}
.complaiint-card-right{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.complaiint-card-right>h3{
    text-align: center;
    color: var(--blue-color);
    text-shadow: 0px 1px 1px black;
}
.complaiint-card-right>p{
    font-weight: 600;
    font-size: 17px;
}
.comlaint-sub-container{
    display: flex;
    justify-content: space-around;
}
.comlaint-sub-container>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 600;
}
.comlaint-sub-container>div>div>span{
    color: var(--blue-color);
    font-weight: 900;
}
.complaint-action-button{
    display: flex;
    justify-content: space-evenly;
}
.complaint-action-button>button{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}


/* Add Sales Page  */

.add-sales-page{
    display: flex;
    /* background-color: aliceblue; */
}
.add-sales-left-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-sales-right-container{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-sales-left-container>img{
    height: 230px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    margin: 10px;
}
.add-sales-form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    width: 100%;
}
.add-sales-form>div>input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px;
    outline: none;
    min-width: 280px;
    color:gray !important;
    font-size:13px;
    font-weight: 600;
}
.add-sales-left-container>div{
    padding: 20px;
    color: gray;
    font-weight: 900;
    max-width: 80%;
    font-size: 17px;
    text-indent: 100px;
}
.add-sales-form>h3{
    text-align: center;
    margin-bottom: 15px;
    color: green;
    text-shadow: 0px 0px 2px black;
}
.add-sales-personal{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.add-sales-product{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.add-sales-product>div{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.add-sales-product>div>input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px;
    outline: none;
    min-width: 280px;
    color:gray;
    font-size:13px;
    font-weight: 600;
}
.sales-product-description{
    min-height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: gray;
    font-weight: 600;
    width: 95%;
}
.add-sales-address{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.add-sales-address>select{
    padding: 15px;
    min-width: 280px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px;
    outline: none;
    color: gray;
    font-weight: 600;
}
.add-sales-flex-container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.add-sales-flex-container>select{
    padding: 15px;
    min-width: 280px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px;
    outline: none;
    color: gray;
    font-weight: 600;
}
.add-sales-flex-container>input{
    height: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center>button{
    padding: 10px 20px;
    font-weight: 900;
    color: green;
    border-radius: 10px;
    border: 2px solid green;
    outline: none;
    background-color: white;
    min-width: 150px;
    margin-top: 15px;
} 
.center>button:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 5px ;
}
@media screen and (max-width:1090px) {
    .add-sales-page{
        flex-direction: column;
    }
}
@media screen and (max-width:740px) {
    .add-sales-personal>input{
        width: 100%;
    }
    .add-sales-product>div>input{
        width: 100%;
    }
    .add-sales-address>select{
        width: 100%;
    }
    .add-sales-flex-container>select,input{
        width: 100%;
    }
}


/* View Sales  */
.view-sales-search-bar{
    min-height: 80px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:965px) {
    .view-sales-search-bar{
        /* flex-direction: column; */
        gap: 20px;
        flex-wrap: wrap;
        padding: 10px;
    }
}
.sales-nav-buttons{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--blue-color);
    background-color: white;
    color: var(--blue-color);
    font-weight: 600;
    margin-right: 10px;
    margin-left: 20px;
}

.sales-nav-buttons:hover{
    background-color: var(--blue-color);
    color: white;
}
.sales-search-input{
    position: relative;
    margin-right: 20px;
}
.sales-search-input>input{
    padding: 15px;
    min-width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: gray;
    font-weight: 600;
    background-color: white;
    box-shadow: 0px 0px 5px;
}
@media screen and (max-width:500px) {
    .sales-search-input>input{
        max-width: 250px;
    }
}
.sales-search-input>button{
    padding: 6px;
    border-radius: 7px;
    border: none;
    width: 50px;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: white;
    color: var(--blue-color);
}
.sales-search-input>button:hover{
    color: white;
    background-color: var(--blue-color);
}
.view-sales-search-bar>select{
    padding: 12px;
    margin-left: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    min-width: 280px;
}
.view-sales-page{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    padding: 10px;
}


/* Add Contact  */
.add-contact-page{
    display: flex;
}
.add-contact-left-container{
    flex: 1;
}
.add-contact-right-container{
    flex: 2;
}
.add-contact-right-container>form{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.add-contact-personal{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.add-contact-personal>div{
    position: relative;
}
.add-contact-personal>div>input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline:none;
    box-shadow: 0px 0px 5px var(--blue-color);
    width: 300px;
    color: gray;
    font-weight: 600;
    font-size: 14px;
}
.add-contact-personal>div>svg{
    position: absolute;
    right: 5px;
    top: 11px;
    color: gray;
}
.add-contact-address{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.add-contact-address>select{
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px var(--blue-color);
    width: 300px;
}
.add-contact-address>input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px var(--blue-color);
    font-size: 15px;
    font-weight: 600;
    max-width: 300px;
}
.add-contact-button-container{
    display: flex;
}
.add-contact-right-container{
    width: auto;
}
.add-contact-page{
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}
.add-contact-button-container>button{
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 900;
    color: white;
    background-color: var(--blue-color);
    min-width: 100px;
}
.add-contact-left-container{
    display: flex;
    justify-content: center;
}
.contact-page>p{
    color: green;
    font-weight: 900;
    font-size:25px;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
}
@media screen and (max-width:1020px) {
    .add-contact-page{
        flex-direction: column;
    }
}
@media screen and (max-width:780px) {
    .add-contact-right-container>form{
        flex-direction: column;
    }

}
/* View Contact  */
.delete-icon{
    color: red;
}
.edit-icon{
    color: green;
}
.delete-icon:hover{
    transform: scale(1.09);
    cursor: pointer;
}
.edit-icon:hover{
    transform: scale(1.09);
    cursor: pointer;
}

/* Add Image  */
.addImage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}
.addImage>img{
    box-shadow: 0px 0px 10px;
    border-radius: 15px;
    height:200px ;
    width: 300px;
}
.event-input{
    padding: 15px;
    width: 300px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    min-height: 100px;
    color: gray;
    font-weight: 600;
}
.addImage>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addImage>form>button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid var(--blue-color);
    background-color: white;
    color: var(--blue-color);
    font-weight: 900;
}
.addImage>form>button:hover{
    box-shadow: 0px 0px 10px var(--blue-color);
}
.button-end{
    display: flex;
    justify-content: end;

}
.button-end>button{
    margin: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-end>button:hover{
    background-color: white;
}

/* Image Gallery  */
.image-gallery{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;

}
.image-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-indent: 50px;
    height: 250px;
    position: relative;
}
.image-item>p{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 1px black;
    text-overflow: ellipsis;
    cursor: pointer;
    z-index: 1;
}
.image-item>img{
    box-shadow: 0px 0px 5px;
    border-radius: 8px;
    width: 300px;
    height: 250px;
    opacity: 1;
}
.image-item>img:hover{
    transform: scale(1.05);
    opacity: 1;
    z-index: 1;
}
.image-item>button{
    width: 30px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 17px;
    left: 5px;
    color: red;
    cursor: pointer;
}
.image-item>button>svg:hover{
    transform: scale(1.2);
}

/* Waste Page  */
.add-waste-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.add-waste-page>form{
    display: flex;
    gap: 30px;
    margin: 15px;
}
.add-waste-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-waste-right{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.add-waste-left>img{
    height: 300px;
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
}
.add-waste-left>input{
    box-shadow: 0px 0px 20px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 5px;
    margin-top: 20px;
}
.add-waste-right>div>input,select{
    padding: 15px;
    color: gray;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px;
    min-width: 280px;
    font-weight: 600;
    font-size: 14px;
}
.personal-details{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.waste-details{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.add-waste-desc{
    min-height: 80px;
    width: 96.5%;
    font-weight: 600;
}
.add-waste-button{
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--blue-color);
    color: white;
    font-weight: 900;
}
@media screen and (max-width:1190px) {
    .personal-details>input{
        width: 100%;
    }
}
@media screen and (max-width:850px) {
    .add-waste-page>form{
        flex-direction: column;
    }
    .add-waste-button{
        border-radius:  10px;
    }
}
.heading-top{
    color: var(--blue-color);
    text-align: center;
    text-shadow: 0px 0px 1px black;
}

/* Add Announcement  */
.add-announcement-page{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.add-announcement-page>form{
   display: flex;
   margin-top: 25px;
   flex-direction: column; 
   gap: 15px;
   min-width: 1024px;
}
.add-announcement-page>form>input{
    padding: 15px;
    border: none;
    border-bottom: 2px solid var(--blue-color);
    outline: none;
}
.add-announcement-page>form>textarea{
    border: 1px solid var(--blue-color);
    padding: 15px;
    width: 100%;
}
.announcement-date-container>input{
    padding: 20px;
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
}
.announcement-delete-icon{
    border: none !important;
    background-color: transparent !important;
    padding: none !important;
    color: red !important;
}
.announcement-date-container{
    height: 70px;
    padding: 20px;
    width: auto;
    border-radius: 10px;
}
.space-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.space-between-center>input{
    box-shadow: 0px 0px 3px var(--blue-color) inset;
    height: 70px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}
.add-announcement-page>form>button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--blue-color);
    width: 150px;
    color: white;
    font-weight: 900;
}
@media screen and (max-width:1100px) {
    .add-announcement-page>form{
        min-width: 600px !important;
        padding: 15px;
     }
}
@media screen and (max-width:675px) {
    .add-announcement-page>form{
        width: auto;
    }
}

/* View Announcement  */
.announcement-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
    min-height: 60vh;
}
.announcement-link-container{
    display: flex;
    padding: 20px;
    color: var(--blue-color);
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.announcement-link-container>button{
    padding: 10px 20px;
    border: 2px double var(--blue-color);
    color: white;
    background-color: var(--blue-color);
    font-weight: 600;
    border-radius: 5px;
}
.announcement-link-container>button>a{
    color: inherit;
}

.announcement-link-container>button:hover{
    background-color: white;
    box-shadow: 0px 0px 5px var(--blue-color);
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

/* Detailed Announcement View  */
.announcement-detailed-view{
    display: flex;
}
.left-announcement-container{
    flex: 1;
}
.right-announcement-container{
    flex: 1;
}
.left-announcement-container>img{
    height: 100%;
    width: 100%;
}

/* Donation Page  */
.add-donation-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-donation-page>form{
    display: flex;
    max-width: 1024px;
    justify-content: center;
    align-items: center;
}
.add-donation-left>img{
    flex: 1;
   margin: 10px;
   height: 100%;
   width: 100%;
   border-radius: 20px;
   box-shadow: 0px 0px 5px var(--blue-color);
}
.add-donation-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.add-donation-right>div>input,select,.add-donation-right>input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px var(--blue-color);
    min-width: 280px;
    margin: 5px;
    color: gray;
    font-weight: 600;
    outline: none;
}
.add-donation-right>textarea{
    box-shadow: 0px 0px 5px var(--blue-color);
    width: 96%;
    margin: 5px;
    color: gray;
    font-weight: 600;
}

/* Library page  */
.view-library{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.library-books-list{
    height: 320px;
    max-width: 1320px; 
    display: flex; 
    overflow: auto;
    gap: 15px;
}
.library-book{
    border: 1px solid black;
    min-width:240px;
    border-radius: 12px;
    border: 5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}
.library-book>img{
    height: 98%;
    width: 98%;
    border-radius: 8px;
}
.library-book>img:hover{
    opacity: 0.5;
}
.library-book-specifications{
    position: absolute;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 1px black;
    bottom: 10px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    min-width: 220px;
    padding: 5px;
}
.view-library>h2{
    color: green;
    text-shadow: 1px 1px 1px black;
}
.library-book-see-more{
    min-width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 15px 15px 2px;
    color: white;
    font-weight: 900;
    background-color: var(--blue-color);
    cursor: pointer;
}
