:root{
    --blue-color:rgb(5, 108, 82);
}

.active-button{
    border: 2px solid green;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: green;
    font-weight: 600;
    /* background-color: rgb(197, 248, 197); */
}
.inActive-button{
    border: 2px solid red;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: red;
    font-weight: 600;
    background-color: rgb(248, 197, 197);
    opacity: 0.5;
}
.dashboard-wrapper{
    display: flex;
}
.sidebar-wrapper{
    flex: 0.88;
}
.content-wrapper{
    flex: 5;
}
.container-fluid{
    padding: 10px;
}

/* Sidebar  */
.sidebar{
    min-height: 100vh;
    height: 100%;
    background: rgb(36, 245, 106);
    background: linear-gradient(40deg, rgb(1, 130, 27) 0%, rgba(11,117,43,1) 100%);
    display: flex;
    flex-direction: column;
}
.sidebar>ul{
    display: flex;
    flex-direction: column;
    color: white;
}
.sidebar>ul>li{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    opacity: 0.5 ;
    align-items: center;
}
.sidebar>ul>li>p{
    color: white;
    font-size: 16px;
    font-weight: 100;
}
.sidebar>ul>li:hover{
    opacity: 1;
    cursor: pointer;
}
@media screen and (max-width:1100px) {
    .sidebar>ul>li{
        flex-direction: column;
        align-items: left;
    }
    .sidebar>ul>li>p{
        font-size: 12px;
    }
}
.dashboard-nav{
    color: white !important;
    opacity: 1 !important;
}
.app-icon-dashboard{
    text-shadow: 0px 0px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 10px;
    margin-left: 0px !important;
    font-size: 18px !important;
    color: white !important;
    opacity: 1 !important;
}
.app-icon-dashboard>p{
    font-weight: 900 !important;
    font-size: 20px !important;
}
.app-icon-dashboard>i>svg{
    font-size: 45px !important;
}
.sidebar-hr{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    opacity: 0.1;
    margin-left: 10px;
}
.sidebar-heading{
    text-align: start;  
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


/* Dashboard Topbar  */
.dashboard-topbar{
    min-height: 80px;
    background-color: white;
    display: flex;
    justify-content: end;
    box-shadow: 0px 0px 7px ;
}
.topbar-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.right-border{
    border-right: 2px solid gray;
    margin: 10px;
}
.topbar-name>p{
    padding-right: 20px;    
}
.profile-container-topbar{
    display: flex;
    margin-right: 20px;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
}
.profile-container-topbar>img{
    height: 20px;
    width: 20px;
}

/* Home  */

.home-sub-heading{
    color: var(--blue-color);
    margin: 20px;
}   
.dashboard-card-container{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.dashboard-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    height: 108px;
    width: 250px;
    box-shadow: 0px 0px 5px  var(--blue-color);
}

.border-left-red{
    border-left: 6px solid red ;
}
.border-left-orange{
    border-left: 6px solid orange ;
}
.border-left-green{
    border-left: 6px solid green;
}
.card-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-left>span{
    font-size: 20px;
    font-weight: 900;
}
.color-red{
    color: red;
}
.color-orange{
    color: orange;
}
.color-green{
    color: green;
}
.color-gray{
    color: gray;
    text-shadow: 0px 0px 1px black;
}
.card-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-right>i>svg{
    color: gray;
    font-size: 40px;
}
@media screen and (max-width:480px) {
    .right-border{
        display: none;
    }
    .sidebar>ul>li{
        margin-left: 0px;
    }
    .sidebar-heading{
        margin-left: 5px !important;
        font-size: 12px !important;
    }
    
}

/* Add Contact & Contact - ADMIN */
.add-contact-button{
    display: flex;
    justify-content: end;
    margin: 20px;
}
.add-contact-button>button{
    color: var(--blue-color);
    font-weight: 900;
    padding: 8px 20px;
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    background-color: white;
}
.add-contact-button>button:hover{
    color: white;
    background-color: var(--blue-color);
    box-shadow: 0px 0px 5px var(--blue-color);
    cursor: pointer;
}

/* Edit user  */
.edit-user-page{
    display: flex;
    flex-direction: row ;
    gap: 10px;
}
.edit-user-left-container{
    flex: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-user-left-container>img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px;
    margin: 10px;
}
.edit-user-right-container{
    flex: 4;
    padding: 10px;
}
.edit-user-right-container>form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.edit-user-right-container>form>select{
    max-width: 280px;
    min-width: 280px;
}
.edit-user-right-container>form>div>input{
    border: none;
    min-width: 280px;
    box-shadow: 0px 0px 5px gray;
    padding: 15px ;
    border-radius: 5px;
    font-weight: 600;
    color: gray;
    outline: none;
}
.edit-user-right-container>form>div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.edit-user-address-field {
    display: grid;
    grid-template-columns: auto ;
    gap: 10px;
  }
  
@media screen and (max-width:1178px) {
    .edit-user-page{
        flex-direction: column !important;
    }
}
.edit-user-button-container>button{
   border: 2px solid green;
   padding: 5px 15px ;
   border-radius: 5px;
   color: green;
   font-weight: 900;
   background-color: white;
   box-shadow: 0px 0px 5px ;
}

/* Assign Complaint  */
.assign-complaint{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.assign-complaint>form{
    display: flex;
    gap: 30px;
}
.assign-farm-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 20px;
}
.assign-farm-left>img{
    height: 300px;
    width: 280px;
    border-radius: 5px;
}
.assign-farm-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.assign-farm-right>input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px var(--blue-color);
    outline: none;
    font-weight: 600;
    color: var(--blue-color);
    width: 280px;
}
.assign-farm-right>select{
    color: var(--blue-color);
    min-width: 310px;
}
.assign-farm-right>button{
    padding: 10px 10px;
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    font-weight: 900;
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--blue-color);
    min-width: 150px;
}
.assign-farm-right>button:hover{
    background-color: white;
    color: var(--blue-color);
    transition: 300ms;
}
.assign-farm-right>label{
    font-weight: 600;
    color: var(--blue-color);
    text-shadow: 0px 0px 1px black;
}
.assign-farm-left>label{
    font-weight: 600;
    color: var(--blue-color);
    text-shadow: 0px 0px 1px black;
}
.completion-date-input{
    padding: 15px;
    width: 280px;
    box-shadow: 0px 0px 5px var(--blue-color);
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--blue-color);
}

.complaint-date-div{
    border: none;
    box-shadow: 0px 0px 5px var(--blue-color);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
.backgroundcolor-red{
    background-color: red;
    color: white !important;
}
.backgroundcolor-green{
    color: white !important;
    background-color: green;
}
.backgroundcolor-orange{
    background-color: orange;
    color: white !important;
}
.color-theme{
    color: var(--blue-color);
}
.muiTable{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: auto;
}
/* Detailed View - Complaint  */

.complaint-detailed-view{
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}
.complaint-detailed-view-card{
    display: flex;
}
.detailed-view-card-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailed-view-card-right{
    padding: 15px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.detailed-view-card-right>p{
    font-weight: 600;
    font-size: 20px;
}
.detailed-view-card-left>img{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}
.detailed-view-sub-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.complaint-person{
    color: gray;
}
.detailed-view-sub-container>div{
    display: flex;
    flex-direction: column;
    gap: 5px;   
    font-size: 17px;
    justify-content: center;
}
.detailed-view-sub-container>div>div>span{
    color: var(--blue-color);
    font-weight: 900;
}
.detailed-view-sub-container>div>div{
    color: gray;
    font-weight: 600;
}
.space-between{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.back-button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid var(--blue-color);
    background-color: white;
    color: var(--blue-color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.back-button:hover{
    background-color: var(--blue-color);
    color: white;
    box-shadow: 0px 0px 5px var(--blue-color);
}
@media screen and (max-width:970px) {
        .complaint-detailed-view-card{
            flex-direction: column;
        }
}
@media screen and (max-width:630px) {
    .detailed-view-sub-container>div{
        font-size: small !important;
        
    }
}

/* Customer Care  */
.customer-care-complaint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1024px;
}
.customer-care-complaint>div{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.customer-care-complaint>div>div>input{
    border: 3px double var(--blue-color);
    padding: 15px;
    border-radius: 5px;
    min-width: 280px;
    color: var(--blue-color);
    font-weight: 600;
}
.customer-care-complaint>input{
    min-width: 100%;
    margin-top: 10px;
    border: 3px double var(--blue-color);
    padding: 15px;
    border-radius: 5px;
    color: var(--blue-color);
    font-weight: 600;
}
.customer-care-complaint>textarea{
    border: 3px double var(--blue-color);
    min-width: 100%;
    min-height: 100px;
    color: var(--blue-color);
    font-weight: 600;
}
.customer-care-complaint>button{
    margin-top: 10px;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    font-weight: 900;
    padding: 5px 10px;
    background-color: white;
}
.customer-care-complaint>button:hover{
    box-shadow: 0px 0px 5px ;
}
.customer-care-complaint>div>div{
    position: relative;
}
.customer-care-complaint>div>div>svg{
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
}




