/* Error Page  */
:root{
    --blue-color:rgb(5, 108, 82);
}
.default-page{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.default-page>div{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.oops{
    font-size: 120px;
    font-weight: 900;
    text-align: center;
    color: transparent;
    background-image: url("https://www.hindustantimes.com/ht-img/img/2023/11/23/550x309/karsten-wurth-UbGYPMbMYP8-unsplash_1699169681948_1700715017707.jpg");
    background-clip: text;
    background-size: cover;
}
.not-found{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.not-found>button{
    padding: 13px;
    color: white;
    font-weight: 900;
    border-radius: 19px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px rgb(3, 39, 116);
    background: linear-gradient(222deg, rgba(4,78,150,1) 0%, rgba(5,29,247,1) 100%);
}

/* Sales Card */
.sales-card{
    display: flex;
    box-shadow: 0px 0px 10px;
    max-width: 700px;
    border-radius: 10px;
    max-height: 360px;
}
.sales-card-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}
.sales-card-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    padding: 10px;
    gap: 5px;
}
.sales-card-left>img{
    height: 250px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    margin: 15px;
}
.sales-card-address{
    display: flex;
    gap: 10px;
}
.sales-card-address>img{
    height: 50px;
    width: 50px;
}
.sales-card-address>div{
    display: flex;
    flex-direction: column;
    color: gray;
}
.sales-card-right>p{
    text-align:start ;
    font-size: 17px;
    color: gray;
    text-overflow: ellipsis;
}
.sales-card-right>p>span{
    text-align:start ;
    font-size: 30px;
    color: var(--blue-color);
    font-weight: 900;
}
.sales-card-right>h2{
    color: var(--blue-color);
}
.sales-card-right>span{
    color: var(--blue-color);
    font-weight: 600;
}
.space-around{
    display: flex;
    justify-content: space-around;
}
.edit-sales-button{
    padding: 10px;
    border-radius: 7px;
    color: green;
    background-color: white;
    border: none;
    outline: none;
}
.delete-sales-button{
    padding: 10px 10px;
    border-radius: 7px;background-color: red;
    border: none;
    background-color: white;
    outline: none;
    color: red;
}